/* http://meyerweb.com/eric/tools/css/reset/v2.0 | 20110126License: none (public domain)*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	box-sizing: border-box;
}

body {}

.snipcart-checkout{
	  height: 45px;
    width: 45px;
    position: relative;
    left: 82.1vw;
    top: 4vw;
    background-color: chartreuse;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - */
/* BREAK POINTS */
@media (min-width: 319px) {
	.main-wrapper {
		height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 10vh 7.5vh 7.5vh 74vh;

		/* border: 2px solid red; */

	}
	header {
		position: relative;
    left: 2vw;
		color: green;
    font-family: sans-serif;
    font-size: 17pt;
    line-height: 9vh;
		width: 98%;

		/* border: 2px solid; */
	}
	.info-blurb {
		position: relative;
    left: 2vw;
		font-family: sans-serif;
		color: green;
    height: 6vh;
    line-height: 5vh;
		width: 98%;
		font-size: 12pt;
		/* border: 2px solid; */
	}
	.nav-container {
		color: green;
		font-family: sans-serif;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
		border-bottom: 2px solid green;
	}
	.nav-item {
		font-size: 12pt;
		color: green;
    margin: 0 2vw;
	}

	.image-grid {
		width: 100%;
    height: 100%;
    display: grid;
    grid-auto-rows: 45vw;
    grid-template-columns: 49vw 49vw;
		/* grid-column-gap: 1vw; */
		grid-row-gap: 1vh;
		overflow: scroll;
    /* border: 2px solid blue; */
	}
	.image-cell {
		height: 45vw;
    width: 45vw;
		max-width: 45vw;
		max-height: 45vw;
		margin: 0 auto;
		display: grid;
    grid-template-rows: 80% 20%;
		/* border: 2px solid pink; */
	}
	.thumbnail-image{
		max-width: 100%;
		max-height: 100%;
		position: relative;
	}

	.thumbnail-image.landscape {
		top: 12%;
	}

	.thumbnail-image.portrait {
		margin: 0 auto;
	}

	.cell-caption {
		background-color: #8bc34a5c;
		z-index: 1
	}
}

/*
@media (min-width: - -px) {}

@media (min-width: - -px) {}

@media (min-width: - -px) {}

@media (min-width: - -px) {}

@media (min-width: - -px) {}
*/
