/* http://meyerweb.com/eric/tools/css/reset/v2.0 | 20110126License: none (public domain)*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	box-sizing: border-box;
}

.snipcart-checkout{
	  height: 45px;
    width: 45px;
		margin: 9px auto;
		border: none;
}
.cart {
	fill: green;
	filter: invert(48%)
					sepia(79%)
					saturate(2476%)
					hue-rotate(86deg)
					brightness(118%)
					contrast(119%)
					drop-shadow(1px 1px 1px grey);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - */
/* BREAK POINTS */
@media (min-width: 319px) {
	.main-wrapper {
	  height: 100vh;
    width: 100vw;
		/* border: 2px solid red; */
	}
	/* Breathing Animation  */
  .breathing  {
		-webkit-animation: color_change  9s infinite alternate;
	  -moz-animation: color_change  9s infinite alternate;
	  -ms-animation: color_change 9s infinite alternate;
	  -o-animation: color_change  9s infinite alternate;
	  animation: color_change  9s infinite alternate;
	}
	@-webkit-keyframes color_change {
	  from { color: #015d2b; }
  	to { color: #89f793; }
  }
	/* -END- Breathing Animation  */

	/* HEADER CSS STYLES FOR EVERY PAGE */
	header {
		position: relative;
		left: 2vw;
		font-family: sans-serif;
		font-size: 17pt;
		line-height: 2.8rem;
		margin-left: 2vw;
		/* border: 2px solid; */
	}

	.header-and-cart-container{
		display: grid;
    grid-template-columns: 80% 20%;
		height: 2.3em;
	}
	.info-blurb {
		margin-left: 4vw;
    font-family: sans-serif;
    height: 4vh;
    line-height: 5vh;
    font-size: 12pt;
		/* border: 2px solid; */
	}
	.nav-container {
		height: 2.8em;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    border-bottom: 2px solid;
	}
	.nav-item {
		font-size: 12pt;
		color: green;
    margin: 0 4vw;
	}
	.nav-item.about{}

	.nav-item.artist{
		justify-self: center;
	}
	.nav-item.browse{
		justify-self: end;
	}
	/* - - END - - HEADER CSS STYLES FOR EVERY PAGE */

	/* IMAGE GRID STYLES */
	.image-grid {
		position: relative;
    top: 1vw;
		width: 100%;
    height: 100%;
    display: grid;
    grid-auto-rows: 27vw;
    grid-template-columns: 50vw 50vw;
		grid-row-gap: 3vh;
		overflow: scroll;
    /* border: 2px solid blue; */
	}
	.image-link-container{}

	.image-cell {
		height: 100%;
    width: 100%;
		/* border: 2px solid pink; */
	}

	.thumbnail-image{
		max-width: 100%;
		max-height: 100%;
	}

	.thumbnail-image.landscape {
		margin: 0 7.8vw;
	}

	.thumbnail-image.portrait {
		margin: 0 16vw;
	}
	/* --END-- IMAGE GRID STYLES */
}


@media (min-width: 667px) {
	.image-grid {
		grid-auto-rows: 17vw;
		grid-template-columns: 1fr 1fr 1fr;
	}
	.thumbnail-image.landscape {
		margin: 0 5.77vw;
	}
	.thumbnail-image.portrait {
		margin: 0 11vw;
	}
}

@media (min-width: 800px) {
	.image-grid {
		grid-auto-rows: 12vw;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.thumbnail-image.landscape {
		margin: 0 4.8vw;
	}
	.thumbnail-image.portrait {
		margin: 0 8.5vw;
	}
}

@media (min-width: 1100px) {
	.image-grid {
		grid-auto-rows: 11vw;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
	.thumbnail-image.landscape {
		margin: 0 2.99vw;
	}
	.thumbnail-image.portrait {
		margin: 0 6.3vw;
	}
}

/* @media (min-width: 1370px) {
	.image-grid {
		grid-auto-rows: 19vw;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
} */
