/* http://meyerweb.com/eric/tools/css/reset/v2.0 | 20110126License: none (public domain)*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	box-sizing: border-box;
}

body {
 background-color: blue;
}

/* - - SNIPCART DEMO - - */
.image-container{
	border: 4px solid white;
  width: 40vw;
	background-color: #9ff872;
}
.image-thumbnail {
	max-width: 100%;
}
.image-caption {
	color: transparent;

}

.image-container:hover .image-caption {
    color: red;
		background-color: white;
}
/* - - SNIPCART DEMO END - - */



/*  - - - SWIPER STYLES - - -  */

.swiper-container {
		 width: 100%;
		 height: 100%;
		 margin-left: auto;
		 margin-right: auto;
		 height: 50vh;
     width: 100vw;
     border: 1px solid;
	 }
	 .swiper-slide {
		 text-align: center;
		 font-size: 18px;
		 background: #fff;
		 /* Center slide text vertically */
		 display: -webkit-box;
		 display: -ms-flexbox;
		 display: -webkit-flex;
		 display: flex;
		 -webkit-box-pack: center;
		 -ms-flex-pack: center;
		 -webkit-justify-content: center;
		 justify-content: center;
		 -webkit-box-align: center;
		 -ms-flex-align: center;
		 -webkit-align-items: center;
		 align-items: center;
	 }
/* - - - - - - - - - - - - - - - - - - - - - - - - - */

/* BREAK POINTS */
@media (min-width: 319px) {
	.main-header{
		font-family: 'Open Sans', sans-serif;
		height: 10vh;
    width: 100vw;
    background-color: #c7effb;
    border: 4px solid blue;
    text-align: center;
    line-height: 9vh;
	}
	/* - - GRID VIEW - - */
	/* .artwork-wrapper {
		height: 70vh;
    width: 100vw;
    border: 2px solid;
	}

	.grid-wrapper {
		height: 69vh;
    width: 99vw;
    border: 1px solid red;
    overflow: scroll;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(5,1fr); */
    /* grid-gap: 2vw;
	}
	.row-scroll {
		margin: 2vw;
    width: 104%;
    height: 34vw;
    max-height: 270px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 2vw;
    border: 2px solid blue;
    overflow-x: scroll;
		overflow: -moz-scrollbars-horizontal;
	}
	.image-container {
		width: 33vw;
    height: 33vw;
    max-height: 240px;
    max-width: 240px;
    border: 2px solid chartreuse;
    background-color: #c8fb9159;
	}
	.grid-image {
		max-width: 100%;
    max-height: 100%;
	}
	.landscape {}
	.portrait {} */
/* - - GRID VIEW - - */

	.snipcart-add-item {
		border: 2px solid;
    border-radius: 8px;
    background-color: chartreuse;
	}
}

/*
@media (min-width: - -px) {}

@media (min-width: - -px) {}

@media (min-width: - -px) {}

@media (min-width: - -px) {}

@media (min-width: - -px) {}
*/
