/* http://meyerweb.com/eric/tools/css/reset/v2.0 | 20110126License: none (public domain)*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	box-sizing: border-box;
}



	.snipcart-checkout {
		width: 45px;
		height: 45px;
		margin: 9px auto;
		border: none;
	}

	.cart {
		fill: green;
		filter: invert(48%)
						sepia(79%)
						saturate(2476%)
						hue-rotate(86deg)
						brightness(118%)
						contrast(119%)
						drop-shadow(1px 1px 1px grey);
	}

/* - - - - - - - - - - - - - - - - - - - - - - - - - */
/* BREAK POINTS */
@media (min-width: 319px) {
	.main-wrapper {
		height: 100vh;
    width: 100vw;
		/* border: 2px solid red; */
	}
	.breathing  {
		-webkit-animation: color_change  9s infinite alternate;
	  -moz-animation: color_change  9s infinite alternate;
	  -ms-animation: color_change 9s infinite alternate;
	  -o-animation: color_change  9s infinite alternate;
	  animation: color_change  9s infinite alternate;
	}
	@-webkit-keyframes color_change {
	  from { color: #015d2b; }
  	to { color: #89f793; }
  }

	/*  - - HEADER CSS STYLES FOR EVERY PAGE - - */
	header {
		position: relative;
    left: 2vw;
    color: green;
    font-family: sans-serif;
    font-size: 17pt;
    line-height: 2.8rem;
    margin-left: 2vw;
		/* border: 2px solid; */
	}
	.header-and-cart-container{
		display: grid;
    grid-template-columns: 80% 20%;
		height: 2.3em;
	}
	.info-blurb {
		margin-left: 4vw;
    font-family: sans-serif;
    color: green;
    height: 4vh;
    line-height: 5vh;
    font-size: 12pt;
		/* border: 2px solid; */
	}
	.nav-container {
		height: 2.8em;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
		/* text-align: center; */
    border-bottom: 2px solid;
	}
	.nav-item {
		font-size: 12pt;
		color: green;
    margin: 0 4vw;
	}
	.nav-item.about{

	}
	.nav-item.artist{
		justify-self: center;
	}
	.nav-item.browse{
		justify-self: end;
	}

		/* - - END - - HEADER CSS STYLES FOR EVERY PAGE */


	.artist-page-container {
		position: relative;
		width: 100vw;
		height: 85vh;
		overflow: scroll;
		overflow-x: hidden;
		/* display: grid; */
    /* grid-template-rows: 2rem auto 2em; */
		/* border: 1px solid blue; */
	}
	.artist-image {

	}
	.horizontal-image-container{
		display: grid;
	}
	.artist-image.landscape{
		max-height: 31vw;
    margin: 4vh 21.5vw;
		justify-self: center;
	}
	.vertical-image-container{
		width: 100vw;
    height: 72vh;
    display: grid;
	}
	.artist-image.portrait {
		height: 90%;
    margin: 3.3vh auto;
	}
	.image-caption{
		height: 2em;
    position: relative;
    left: 4vw;
    line-height: 7vh;
    font-family: sans-serif;
    color: green;
    font-style: italic;
	}
	.button-container{
		display: grid;
    grid-template-columns: 70% 30%;
    /* align-items: center; */
	}

	.add-item-button {
		position: relative;
    left: -4vw;
    justify-self: end;
    width: 69px;
    height: 23px;
    border: 3px solid;
    border-radius: 37px;

	}

	.spacer {
		height: 12vh
	}
}

@media (min-width: 800px) {
  .add-item-button {
		left: -2.5em;
	}

}
